body {
    background: #2c2c2c;
}

aside {
    position: fixed;
    float: left; # блок слева
    width: 10%;
    height: 100%;
    color: #2c2c2c;
    background: #ffffff;

}

aside img {
    float: center;
    width: 100%;
}

aside .logo {
    font-size: 40px;
    margin-left: 60px;
    font-weight: bold;
    position: center;
    top: -5px;
}

aside h3 {
    color: #2c2c2c;
    margin-top: 50px;
    font-size: 28px;
}

aside ul {list-style: none}
aside ul li {
    color: #2c2c2c;
    display: block;
    margin-top: 20px;
    transition: transform .6s ease;
}

aside ul li:hover, aside ul a:hover {
    color: #eb5959
    text-decoration: none;
    transform: scale(1.05);
}

/*Главная страница*/
main .features {
    float: left;
    color: #ffffff;
    margin-top: 100px;
    text-align: center;
    width: 100%;`
}

main .features h1 {font-size: 50px;}
main .features p {margin-width: 100px; margin: 50px auto;}
main .features ft {margin-width: 100px; margin: 50px auto; width: 1000px;}

.alert-warning {
    float: left;
    clear: both;
    width: 400px;
    margin: 20px 34%;
    text-align: left;
}

form {
    margin-left: 32%;
    width: 500px;
    margin-top: 50px;
}


table {
    margin-left: 32%;
    width: 500px;
    margin-top: 50px;
    border-collapse: collapse;
    line-height: 1.1;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background:  radial-gradient(farthest-corner at 50% 50%, white, #DCECF8);
    color: #0C213B;
}
caption {
  font-family: annabelle, cursive;
  font-weight: bold;
  font-size: 2em;
  padding: 10px;
  color: #F3CD26;
  text-shadow: 1px 1px 0 rgba(0,0,0,.3);
 }
caption:before, caption:after {
  content: "\274B";
  color: #A9E2CC;
  margin: 0 10px;
}
th {
  padding: 10px;
  border: 1px solid #A9E2CC;
}
td {
  font-size: 0.8em;
  padding: 5px 7px;
  border: 1px solid #A9E2CC;
}
.first {
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}
/*Страница про нас */
p1 {
    word-break: break-all;
    overflow-wrap: break-word;
    margin-left:20%;
    width: 1000px;
    color: #FFF;
    font-size: 28px;
}
/*Страница с текстурными признаками*/

div {
    margin-left:10%;
    width: 1000px;
}
